.modal-gameover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    background-color: rgba(148, 148, 148, 0.5);
}

.modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 200px;
    border-radius: 4px;
}

.modal-text button {
    border-radius: 4px;
    cursor: pointer;
}